/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bc-background);
}

.top {
    height: 112px;
}

.bottom {
    display: flex;
    height: calc(100% - 112px);
    margin-top: 6px;

    .left {
        width: 70%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--bc-search) var(--bc-background);
    }

    .right {
        width: 30%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--bc-search) var(--bc-background);
        border-left: 1px solid var(--bc-lighter-text);
    }
}

/*utilities*/
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 1rem;
}

:root {
    --bc-background: #222222;
    --bc-white: white;
    --bc-header: #2b2b2b;
    --bc-search: #3c3c3c;
    --bc-lighter-text: #6c6c6c;
}

/*header*/
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    a {
        text-decoration: none;
        color: var(--bc-white);
        margin-right: 10px;
    }
}

.logo {
    display: flex;

    input {
        margin-left: 10px;
        padding: 10px;
        background-color: var(--bc-search);
        border-style: none;
        font-size: 16px;
        width: 350px;
        border-radius: 5px;
    }
}

.bottom-header {
    padding: 10px;
    background-color: var(--bc-header);

    input {
        padding: 10px;
        border-radius: 40px;
        margin-left: 20px;
        width: 450px;
        background-color: var(--bc-search);
        border: 1px solid var(--bc-lighter-text);
        font-size: 16px;
    }
}

/*main*/

.album-col {
    width: calc(100% / 4);

}

.card {
    padding: 1rem;
}

span {
    color: var(--bc-white);
}

h4 {
    color: var(--bc-white);
    margin-bottom: 5px;
}

.genre {
    color: var(--bc-lighter-text);
    display: block;
    margin-top: 5px;
}

.play {
    display: flex;
    padding-top: 30px;
    margin-bottom: 15px;
    gap: 5px;
}

.icon {
    font-size: 50px;
    color: var(--bc-white);
}

.btn {
    a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 15px 25px;
        margin-bottom: 10px;
        border-radius: 5px;


    }

    .lighter {
        background-color: aliceblue;
        color: black;
    }

    .darker {
        background-color: var(--bc-background);
        color: var(--bc-white);
        margin-bottom: 15px;
        border: 1px solid var(--bc-white)
    }
}

.artist {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 10px;

    .artist-logo {
        width: 20%;
    }
}

/*responsive rules*/
@media screen and (max-width: 744px) {

    .top {
        height: 100px;
    }

    .top-header {
        padding: 8px;

        a {
            font-size: 14px;
        }
    }

    .logo {
        display: flex;

        input {
            padding: 8px;
            font-size: 14px;
        }
    }

    .bottom-header {
        padding: 8px;

        input {
            padding: 8px;
            margin-left: 20px;
            width: 450px;
            font-size: 14px;
        }
    }

    .container {
        padding: 0.3rem;
    }

    .card {
        padding: 0.3rem;
    }

    .bottom {
        height: calc(100% - 100px);
        margin-top: 6px;

        .left {
            width: 70%;
        }

        .right {
            width: 30%;
        }

        .album-col {
            width: calc(100% / 2);

        }
    }

    .play {
        padding-top: 10px;
        margin-bottom: 10px;
        gap: 5px;
    }


    .btn {
        a {
            padding: 10px 25px;
            margin-bottom: 6px;
            font-size: 14px;
        }

        .lighter {
            background-color: aliceblue;
            color: black;
        }

        .darker {
            margin-bottom: 10px;
        }
    }

    h4 {
        font-size: 13px;
    }

    span {
        font-size: 13px;
    }

}

@media screen and (max-width: 600px) {

    .container {
        padding: 0.5rem;
    }

    .card {
        padding: 0.5rem;
    }

    .logo {
        input {
            display: none;
        }
    }

    .bottom-header>input {
        width: 100%;
        margin-left: 0;
    }

    .bottom {
        display: flex;
        height: calc(100% - 112px);
        margin-top: 6px;

        .left {
            width: 100%;
            overflow-y: auto;
        }

        .right {
            display: none;
        }

        .album-col {
            width: calc(100% / 2);

        }
    }

    h4 {
        font-size: 13px;
        margin-bottom: 0;
    }

    span {
        font-size: 13px;
    }
}